:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(38, 37, 37);
  background-color: rgba(237, 235, 235, 0.797);
}
 html{
  background-image: url("https://res.cloudinary.com/deqbqghhq/image/upload/v1679487044/ajedrez_snvnvl.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: scroll;
 }